@charset "UTF-8";
/*
    480px: phone
    768px: Tablets
    1024px: Small screens
    1200px: large screens
    1201px and more:  Extra large screens
*/
@keyframes rightToLift {
  0% {
    transform: translateX(10rem);
    opacity: 0; }
  80% {
    transform: translateX(-1rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes leftToRight {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  80% {
    transform: translateX(1rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveintop {
  0% {
    transform: translateY(3rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 75.0625em) {
    html {
      font-size: 62.5%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 64em) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 48em) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 30em) {
    html {
      font-size: 35%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (max-width: 48em) {
    body {
      padding: 0; } }

::selection {
  background: #55c57a;
  color: #ffffff; }

body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  color: #777777;
  line-height: 1.7; }

.header__banner {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center; }
  .header__banner span {
    display: block; }
  .header__banner--title {
    font-size: 6rem;
    letter-spacing: 3.5rem;
    font-weight: 400;
    animation: rightToLift 1s ease-out 1; }
    @media only screen and (max-width: 21.875em) {
      .header__banner--title {
        font-size: 4rem;
        letter-spacing: 2.5rem; } }
  .header__banner--subtitle {
    font-size: 2rem;
    letter-spacing: 1.75rem;
    font-weight: 700;
    animation: leftToRight 1s ease-out 1; }
    @media only screen and (max-width: 21.875em) {
      .header__banner--subtitle {
        font-size: 1.5rem;
        letter-spacing: 1rem; } }
  .header__banner a {
    color: #777777;
    margin-top: 6rem; }

.section-title {
  font-size: 3.5rem;
  font-weight: 700;
  background: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.3s; }
  @media only screen and (max-width: 30em) {
    .section-title {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 21.875em) {
    .section-title {
      font-size: 2rem; } }
  .section-title:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem;
  text-align: justify;
  max-width: 90%; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.btn--animated {
  animation: moveintop 1s ease-out 0.7s backwards; }

.text-center {
  text-align: center !important; }

.mb-8 {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 48em) {
    .mb-8 {
      margin-bottom: 4rem !important; } }

.mb-2 {
  margin-bottom: 2rem !important; }
  @media only screen and (max-width: 48em) {
    .mb-2 {
      margin-bottom: 1rem !important; } }

.my-4 {
  margin: 4rem 0; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .3;
  z-index: -1;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.composition {
  position: relative; }
  @media only screen and (max-width: 48em) {
    .composition {
      margin-bottom: 5rem; } }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    outline-offset: 2rem; }
    @media only screen and (max-width: 48em) {
      .composition__photo {
        margin-bottom: 10rem;
        float: left;
        position: relative;
        width: 33.333333333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
      @media only screen and (max-width: 48em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      top: 2rem;
      right: 0; }
      @media only screen and (max-width: 48em) {
        .composition__photo--p2 {
          top: -2rem;
          transform: scale(1.3);
          z-index: 10; } }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
      @media only screen and (max-width: 48em) {
        .composition__photo--p3 {
          top: 0;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-5px);
      z-index: 100;
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      outline: 1.2rem solid #55c57a; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.main-btn, .main-btn:link, .main-btn:visited {
  display: inline-block;
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all 0.3s;
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  border: none; }

.main-btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .main-btn:hover::after {
    transform: scale(1.5);
    opacity: 0; }

.main-btn:active, .main-btn:focus {
  outline: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0.5rem); }

.main-btn::after {
  content: "";
  display: inline-block;
  background-color: #ffffff;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 0.3s; }

.btn-text:link, .btn-text:visited, .btn-text:focus {
  outline: none;
  font-size: 1.6rem;
  display: inline-block;
  color: #55c57a;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  font-weight: 600;
  text-transform: capitalize;
  transition: all 0.3s; }

.btn-text:hover {
  background: #55c57a;
  color: #ffffff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-3px); }

.btn-text:active {
  transform: translateY(2px); }

.green-btn, .green-btn:link, .green-btn:visited, .green-btn:focus {
  outline: none;
  background-color: #55c57a;
  color: #ffffff; }

.green-btn::after {
  background-color: #55c57a; }

.feature-box {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  padding: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box__heading {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: inherit;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s; }
  @media only screen and (max-width: 48em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::placeholder {
    color: #999;
    text-transform: capitalize; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  text-transform: capitalize;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-0.4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media only screen and (max-width: 48em) {
    .form__radio-group {
      width: 100%;
      margin: 1rem 0; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 5px solid #55c57a;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.3rem; }
  .form__radio-button::after {
    content: "";
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    background: #55c57a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.form__button-group {
  margin: 2rem 0; }

.popup {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background: rgba(0, 0, 0, 0.3); } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: auto;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    display: table;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.3);
    transition: all .4s; }
    @media only screen and (max-width: 48em) {
      .popup__content {
        display: block; } }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    font-size: 3rem;
    color: #777777;
    text-decoration: none;
    transition: all 0.3s; }
  .popup__close:hover {
    color: #ff7730; }
  .popup__left {
    display: table-cell;
    vertical-align: middle;
    width: 33.333333333%; }
    @media only screen and (max-width: 48em) {
      .popup__left {
        display: block;
        width: 100%; } }
  .popup__right {
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
    width: 66.666666666%; }
    @media only screen and (max-width: 48em) {
      .popup__right {
        display: block;
        width: 100%; }
        .popup__right::before, .popup__right::after {
          content: "";
          display: table;
          clear: both; } }
  .popup__img {
    display: block;
    width: 100%; }
    @media only screen and (max-width: 48em) {
      .popup__img {
        display: block;
        width: 50%;
        float: left;
        min-height: 30rem; } }
    @media only screen and (max-width: 30em) {
      .popup__img {
        display: block;
        width: 100%;
        min-height: 7rem; } }
    @media only screen and (max-width: 21.875em) {
      .popup__img {
        display: none; } }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #777777;
    hyphens: auto; }

.story {
  width: 95%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media only screen and (max-width: 48em) {
    .story {
      width: 100%;
      padding: 3rem;
      padding-left: 6rem; } }
  @media only screen and (max-width: 30em) {
    .story {
      transform: skewX(0); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    border-radius: 50%; }
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      .story__shape {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -wenkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: none; } }
    @media only screen and (max-width: 30em) {
      .story__shape {
        transform: translateX(-3rem) skewX(0); } }
  .story__img {
    height: 100%;
    transform: translateX(-3.5rem) scale(1.4);
    transition: all .5s;
    backface-visibility: hidden; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.7rem;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story__text {
    transform: skewX(12deg); }
    @media only screen and (max-width: 30em) {
      .story__text {
        transform: skewX(0); } }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__img {
    transform: translateX(-3.5rem) scale(1);
    filter: blur(3px) brightness(80%); }

.tour-card {
  height: 50rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; }
  .tour-card__side {
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.16); }
    .tour-card__side--front-1 {
      background: #ffffff; }
    .tour-card__side--back {
      transform: rotateY(180deg); }
      .tour-card__side--back-1 {
        background: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .tour-card__side--back-2 {
        background: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .tour-card__side--back-3 {
        background: linear-gradient(to right bottom, #2998ff, #5634fa); }
  .tour-card:hover .tour-card__side--front {
    transform: rotateY(-180deg); }
  .tour-card:hover .tour-card__side--back {
    transform: rotateY(0); }
  .tour-card__photo {
    height: 23rem;
    background: center/cover;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .tour-card__photo--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/nat-5.jpg"); }
    .tour-card__photo--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../img/nat-6.jpg"); }
    .tour-card__photo--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5634fa), url("../img/nat-7.jpg"); }
  .tour-card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 75%; }
  .tour-card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .tour-card__heading-span--1 {
      background: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .tour-card__heading-span--2 {
      background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .tour-card__heading-span--3 {
      background: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 52, 250, 0.85)); }
  .tour-card__info ul {
    list-style: none;
    width: 80%;
    margin: 0 auto; }
    .tour-card__info ul li {
      font-size: 1.5rem;
      text-align: center;
      padding: 1rem; }
      .tour-card__info ul li:not(:last-child) {
        border-bottom: 1px solid #eeeeee; }
  .tour-card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    width: 90%; }
  .tour-card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .tour-card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  .tour-card__btn {
    margin-top: 10rem;
    color: #777777; }
  @media only screen and (max-width: 48em), only screen and (hover: none) {
    .tour-card {
      height: auto;
      background: #ffffff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.16); }
      .tour-card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .tour-card__side--back {
          transform: rotateY(0);
          -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .tour-card:hover .tour-card__side--front {
        transform: rotateY(0); }
      .tour-card:hover .tour-card__side--back {
        transform: rotateY(0); }
      .tour-card__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .tour-card__price-only {
        font-size: 1.4rem; }
      .tour-card__price-value {
        font-size: 4rem;
        font-weight: 100; }
      .tour-card__btn {
        margin-top: 2rem;
        color: #777777; } }

.footer {
  background: #333333;
  padding: 10rem;
  font-size: 1.4rem; }
  @media only screen and (max-width: 48em) {
    .footer {
      padding: 8rem; } }
  .footer__logo {
    width: 15rem;
    cursor: pointer; }
  .footer__navigation {
    border-top: 1px solid #777777;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 48em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    display: inline-block;
    text-transform: capitalize;
    color: #f7f7f7;
    text-decoration: none;
    transition: all 0.3s;
    background: #333333; }
  .footer__link:hover {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777777;
    padding-top: 2rem;
    color: #777777;
    text-align: justify; }
    @media only screen and (max-width: 48em) {
      .footer__copyright {
        width: 100%; } }

.row {
  max-width: 114rem;
  margin: 0 auto;
  font-size: 1.5rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 48em) {
      .row:not(:last-child) {
        margin-bottom: 8rem; } }
  @media only screen and (max-width: 48em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::before, .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 8rem; }
      @media only screen and (max-width: 48em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 8rem; } }
    @media only screen and (max-width: 48em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 8rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 8rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2 * 8rem) / 3 ) + 8rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 8rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2*((100% - 3 * 8rem) / 4 ) + 8rem); }
  .row .col-3-of-4 {
    width: calc(3*((100% - 3 * 8rem) / 4 ) + 2 * 8rem); }

.header {
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero-small.jpg") top/cover no-repeat;
  height: 85vh;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0% 100%);
  position: relative; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0% 100%);
      clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0% 100%);
      height: 95vh; } }
  @media only screen and (min-resolution: 192dpi) and (min-width: 48em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 48em), only screen and (min-width: 125em) {
    .header {
      background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg") top/cover no-repeat; } }
  @media only screen and (max-width: 30em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85vh, 0% 100%);
      clip-path: polygon(0 0, 100% 0%, 100% 85vh, 0% 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    cursor: pointer; }
    .header__logo-box img {
      height: 3.5rem; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  background: #ffffff;
  cursor: pointer;
  text-align: center; }
  @media only screen and (max-width: 48em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }

.navigation__bg {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1); }
  @media only screen and (max-width: 48em) {
    .navigation__bg {
      width: 5rem;
      height: 5rem;
      top: 4.5rem;
      right: 4.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background: linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%);
  background-size: 250%;
  transition: all .4s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__bg {
  transform: scale(500); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background: #333333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .5s; }
  .navigation__icon::before {
    top: -.8rem;
    transform-origin: bottom; }
  .navigation__icon::after {
    top: .8rem;
    transform-origin: bottom; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.about-section {
  padding: 25rem 0;
  background: #f7f7f7;
  margin-top: -20vh; }
  @media only screen and (max-width: 48em) {
    .about-section {
      padding: 20rem 0; } }

.features-section {
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg") center/cover no-repeat;
  padding: 20rem 0;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  @media only screen and (max-width: 48em) {
    .features-section {
      padding: 15rem 0; } }
  .features-section > * {
    transform: skewY(7deg); }

.tours-section {
  padding: 25rem 0 20rem 0;
  background: #f7f7f7;
  margin-top: -10rem; }
  @media only screen and (max-width: 48em) {
    .tours-section {
      padding: 20rem 0 15rem 0; } }

.stories-section {
  position: relative;
  padding: 15rem; }
  @media only screen and (max-width: 48em) {
    .stories-section {
      padding: 10rem 0; } }

.book-section {
  padding: 15rem 0;
  background: linear-gradient(to right bottom, #7ed56f, #28b485); }
  @media only screen and (max-width: 48em) {
    .book-section {
      padding: 10rem 0; } }

.book {
  background: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../img/nat-10.jpg") center/cover no-repeat;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px; }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media only screen and (max-width: 64em) {
      .book__form {
        width: 70%; } }
    @media only screen and (max-width: 48em) {
      .book__form {
        width: 100%;
        padding: 4rem; } }
  @media only screen and (max-width: 64em) {
    .book {
      background: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 70%, transparent 70%), url("../img/nat-10.jpg") center/cover no-repeat; } }
  @media only screen and (max-width: 48em) {
    .book {
      background: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url("../img/nat-10.jpg") center/cover no-repeat; } }

/*
    background-image: linear-gradient( 105deg , rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 65%, transparent 65%),url(../img/nat-10.jpg);
    background-size: cover;
}
*/
