// colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5634fa;

$color-white: #ffffff;
$color-dark: #000000;

$color-gray: #777777;
$color-gray-light1: #f7f7f7;
$color-gray-2: #eeeeee;
$color-gray-3: #333333;

// fonts
$default-font-size: 1.6rem;

// transition
$transition: all 0.3s;

// border-radias
$radius: 3px;


// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-sm: 8rem;
$gutter-herzontal: 6rem;
